include ../config
include ../components/mixins
block config

doctype html
html(lang= lang)

	include head

	body

		block content

		script(src="assets/js/jquery-3.4.1.min.js")
		script(src="assets/js/main.min.js")
