footer.footer
  .footer__bg
    img(src="assets/images/icons/footer-bg.svg", alt="")
  .footer__bottom
    img(src="assets/images/icons/footer-bottom.svg", alt="")
  .container
    .row
      .col-12
        .footer__body
          .footer__logo
            img(src="assets/images/logo.svg", alt="Blomsy")
          .footer__copyright
            | © 2020 Blomsy.com
          .footer__contacts
            .footer__contacts-title
              | Контакты:
            .footer__contacts-text
              ul
                li
                  a(href="tel:+380954533422") +38 (095) 453-34-22
                li
                  a(href="mailto:info@blomsy.com") info@blomsy.com
