header.header
	.header__line
		.container
			.row
				.col-3.col-sm-5.col-lg-3
					.logo
						img(src="assets/images/logo.svg", alt="Blomsy")
				.col-9.col-sm-7.col-lg-9
					.header__nav
						.main-menu
							ul
								li
									a(href="#about")
										|Про проект
								li
									a(href="#for-clients")
										|Клієнтам
								li
									a(href="#for-bloggers")
										|Лідерам думок
								li
									a(href="#registration")
										|Зареєструватися
						.header-right
							.socials
								a.socials__item(href="#")
									img(src="assets/images/icons/linkedin.svg", alt="Linkedin")
								a.socials__item(href="#")
									img(src="assets/images/icons/facebook.svg", alt="Facebook")
							.select-language
								a(href="index-ru.html") 
									span.select-language__text-big
										|На русском
									span.select-language__text-small
										|Рус
							burger.hamburger(type="button")
								.hamburger-box
									span.hamburger-inner
