head
	meta(charset='utf-8')
	title= pageTitle + ' - ' + siteTitle
	meta(name='author', content= author )
	meta(name='viewport', content='width=device-width, user-scalable=no')
	meta(name='description', content= metaDesc )

	link(rel="apple-touch-icon", sizes="180x180", href="assets/images/icons/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="assets/images/icons/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="assets/images/icons/favicon-16x16.png")
	link(rel="manifest", href="assets/images/icons/site.webmanifest")
	link(rel="mask-icon", href="assets/images/icons/safari-pinned-tab.svg", color="#5bbad5")
	meta(name="msapplication-TileColor", content="#ffffff")
	meta(name='msapplication-config', content='assets/images/icons/browserconfig.xml')
	meta(name="theme-color", content="#ffffff")

	link(rel='stylesheet', type='text/css', href='assets/css/main.min.css')
