.vertical-center
  align-items: center
.hidden
  display: none !important
  
.intro
  padding-top: 50px
  &__text
    text-align: center
    max-width: 550px
    margin: 0 auto
    h1
      font-family: $font-bold
      color: $color-dartGreen
      font-size: 2.6rem
      line-height: 3.4rem
      span
        color: $color-green
  &__button
    padding-top: 20px
  & > .container
    position: relative

.about, .for-customers, .for-bloggers, .team, .registration
  position: relative
  padding: 120px 0 20px
  &:before
    content: ''
    position: absolute
    top: 10px
    right: 50%
    width: 1px
    height: 90px
    background-image: linear-gradient($color-lightGreen 33%, rgba(255,255,255,0) 0%)
    background-position: right
    background-size: 2px 9px
    background-repeat: repeat-y
.about-section-img
  &__bg
    position: absolute
    top: 60px
    right: 15px
    z-index: 10
    max-width: 100%
    max-height: 100%
  &__front
    position: relative
    top: -20px
    left: 50px
    margin: 0 auto
    z-index: 20
    img
      margin: 0 auto

.for-customers
  &:before
    top: -10px
  .section-title, .section-text
    margin-left: 30px
  &__content
    position: relative
    z-index: 10
  &__bg
    position: absolute
    top: -40px
    left: -40px
    z-index: 0

.customers-functions
  position: relative
  margin-top: 80px
  padding-bottom: 70px
  width: 100%
  &:before
    content: ''
    position: absolute
    top: 50%
    left: 0
    display: block
    margin-top: -363px
    width: 63px
    height: 726px
    background: url('../images/icons/customers-fn-left.svg') no-repeat center center
    z-index: 10
  &:after
    content: ''
    position: absolute
    top: 50%
    right: 0
    display: block
    margin-top: -365px
    width: 59px
    height: 719px
    background: url('../images/icons/customers-fn-right.svg') no-repeat center center
    z-index: 10
  &__bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0
    &:after
      content: ''
      position: absolute
      top: 40px
      left: calc(100vw / 2 + 600px)
      display: block
      width: 71px
      height: 67px
      background: url('../images/icons/data-mini.svg') no-repeat center center
      z-index: 10
    img
      display: block
      width: 100%
      height: 100%

.for-bloggers
  padding-top: 150px
  &:before
    top: 25px
  .section-title, .section-text
    margin-right: 30px
  &__content
    position: relative
    z-index: 10
  &__bg
    position: absolute
    top: -50px
    right: -25px
    z-index: 0

.bloggers-functions
  position: relative
  margin-top: 100px
  padding-bottom: 70px
  width: 100%
  &:before
    content: ''
    position: absolute
    top: 50%
    left: 0
    display: block
    margin-top: -270px
    width: 58px
    height: 558px
    background: url('../images/icons/bloggers-fn-left.svg') no-repeat center center
    z-index: 10
  &:after
    content: ''
    position: absolute
    top: 50%
    right: 0
    display: block
    margin-top: -265px
    width: 58px
    height: 543px
    background: url('../images/icons/bloggers-fn-right.svg') no-repeat center center
    z-index: 10
  &__bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0
    &:after
      content: ''
      position: absolute
      top: 10px
      left: calc(100vw / 2 - 600px)
      display: block
      width: 71px
      height: 67px
      background: url('../images/icons/data-mini.svg') no-repeat center center
      z-index: 10
    img
      display: block
      width: 100%
      height: 100%

.notebook-top
  position: relative
  width: 530px
  margin: 0 auto
  padding-top: 100px
  &__data
    position: absolute
    top: 75px
    left: -140px
    width: 804px

.section-text
  font-family: $font-regular
  font-size: 1.2rem
  line-height: 2rem
  color: $color-dartGreen
  &__button
    padding-top: 20px
    a
      margin: 0

.content-box
  background-color: $color-white
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0.15)
  border-radius: 10px
  padding: 20px 20px
  margin-bottom: 30px
  &--first
    margin-top: 40px
  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 95px
    height: 105px
    margin-bottom: 25px
    background: url('../images/icons/box-icon-bg.svg') no-repeat center center
    background-size: 100% 100%
  &__text
    font-family: $font-regular
    color: $color-dartGreen
    font-size: 1.05rem
    line-height: 1.6rem
    h4
      display: block
      margin: 0 0 20px
      font-family: $font-bold
      font-size: 1.3rem

.fn-item
  margin-bottom: 30px
  $self: &
  &--green
    #{$self}__icon
      background: url('../images/icons/fn-icon-green-bg.svg') no-repeat center center
  &__icon
    display: flex
    justify-content: center
    width: 107px
    height: 106px
    margin: 0 auto
    box-sizing: border-box
    position: relative
    background: url('../images/icons/fn-icon-bg.svg') no-repeat center center
    font-size: 36px
    color: $color-white
    padding-right: 7px
    padding-top: 25px
  &__title
    text-align: center
    font-family: $font-bold
    font-size: 1.2rem
    line-height: 1.7rem
    color: $color-dartGreen

.members-row
  margin-bottom: 35px
.team-member-photo
  position: relative
  width: 100%
  height: 375px
  max-width: 350px
  box-shadow: 0 6px 18px 0 rgba(0,0,0,0.10)
  border-radius: 10px
  &--small
    height: 300px
    margin-bottom: 22px
  &:after
    content: ''
    position: absolute
    top: 14px
    left: -14px
    width: 40px
    height: 25px
    background: url('../images/icons/member-small-data.svg') no-repeat center center
  &__link
    position: absolute
    right: 18px
    bottom: -14px
    display: block
    width: 50px
    height: 50px
    background: url('../images/icons/linkedin-member.svg') no-repeat center center
  &__img
    width: 100%
    height: 100%
    border-radius: 10px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
.team-member-info
  $self: &
  &--small
    #{$self}__pos
      font-family: $font-regular
  &__name
    font-family: $font-bold
    font-size: 1.5rem
    color: $color-dartGreen
  &__pos
    font-family: $font-bold
    font-size: 1.3rem
    color: $color-green
    padding-top: 10px
  &__text
    color: $color-dartGrey
    font-size: 1.1rem
    line-height: 1.7rem
    padding-top: 20px
.team-member-bottom
  display: flex
  align-items: center
.team-member-linkedin
  margin-right: 20px
  &__link
    display: block
    width: 50px
    height: 50px
    background: url('../images/icons/linkedin-member.svg') no-repeat center center

.registration
  &__body
    position: relative
    margin-top: 60px
  &__lines
    position: absolute
    top: 50%
    margin-top: -80px
    left: 0
    width: 100%
    img
      width: 100%
      height: 140px
  &__social
    position: absolute
    top: -30px
    left: 46%
    margin-left: -680px
    opacity: 0.8
.registration-form
  position: relative
  width: 100%
  max-width: 720px
  margin: 0 auto
  border-radius: 10px
  &:before
    content: ''
    position: absolute
    top: -35px
    right: -30px
    width: 86px
    height: 96px
    background: url('../images/icons/hexagon.svg') no-repeat center center
    z-index: 10
  &__panel
    position: relative
    width: 100%
    background-color: $color-white
    box-shadow: 0 12px 22px 0 rgba(0,0,0,0.12)
    padding: 30px
    border-radius: 10px
    z-index: 20
.registration-complete
  position: absolute
  top: 0
  left: 0
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  padding: 30px
  background-color: $color-white
  z-index: 30
  &__icon
    width: 100%
    img
      position: relative
      left: -10px
      margin: 0 auto
  &__text
    width: 100%
    text-align: center
    max-width: 500px
    margin: 0 auto
    h4
      font-family: $font-bold 
      font-size: 1.6rem
      color: $color-green
      margin: 30px 0 22px
    span
      font-size: 1.2rem
      line-height: 1.7rem
      color: $color-dartGreen

.col-margin-bottom-sm
  margin-bottom: 20px
