.footer
  position: relative
  padding: 60px 0 70px
  margin-top: 40px
  &__bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    img
      width: 100%
      height: 100%
  &__bottom
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    img
      width: 100%
      height: 47px
  &__body
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    width: 40%
  &__copyright
    width: 20%
    text-align: center
    font-size: 1rem
    color: $color-dartGrey
  &__contacts
    width: 40%
    display: flex
    justify-content: flex-end
  &__contacts-title
    font-family: $font-bold
    font-size: 1.1rem
    color: $color-green
    padding-right: 20px
  &__contacts-text
    ul
      list-style: none
      margin: 2px 0 0
      padding: 0
      text-align: right
      li
        margin-bottom: 8px
        &:last-child
          margin-bottom: 0
        a
          font-size: 1.1rem
          color: $color-dartGreen
          &:hover
            color: $color-green
