.header
  position: relative
  height: 90px
  z-index: 100
  &__line
    top: -90px
    display: flex
    align-items: center
    width: 100%
    height: 90px
    transition: top 0.3s ease-in, height 0.2s linear, background-color 0.1s ease-in-out
  &__nav
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 65px
    border-bottom: 1px solid $color-grey
  [class^="col-"]
    display: flex
    align-items: center
  &.fixed
    .header__line
      position: fixed
      top: 0
      left: 0
      height: 60px
      background-color: $color-white
      box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15)
    .header__nav
      border-bottom: 0
      height: 60px
.header-right
  display: flex
  align-items: center

.select-language
  margin-left: 25px
  margin-top: 3px
  a
    font-family: $font-regular
    font-size: 0.9rem
    color: $color-green
  &__text-small
    display: none

