@media screen and (max-width: 1400px)
  html
    font-size: 15px
  .intro
    padding-top: 30px
  .notebook-top
    width: 420px
    padding-top: 60px
    &__data
      top: 80px
      left: -110px
      width: 604px
  .insta-post
    width: 210px
    &__image
      height: 165px
    &__header
      padding: 5px 10px
    &__header-title
      font-size: 13px
    &__likes, &__desk
      font-size: 12px !important
      padding-left: 10px
      padding-right: 10px
    &__buttons
      height: 35px
      padding-left: 10px
      padding-right: 10px
      svg
        height: 14px
    &__buttons-left
      span
        margin-right: 8px
    &--first
      right: 30px
    &--second
      right: -20px
    &--third
      left: -50px
    &--fourth
      left: 40px
    &--five
      left: -20px
  .team-member-info
    &__name, &__pos
      font-size: 1.2rem

@media screen and (max-width: 1140px) and (min-width: 1024px)
  html
    font-size: 14px
  .main-menu ul li
    margin-right: 35px
  .about-section-img__front img
    width: 350px
  .customers-functions, .bloggers-functions
    padding-left: 30px
    padding-right: 30px

@media screen and (max-width: 1024px)
  html
    font-size: 13px
  .header
    height: 70px
    &__line
      height: 70px
      top: -70px
    &__nav
      border-bottom: 0px
      justify-content: flex-end
  .hamburger
    display: block
  .select-language a
    font-size: 14px
  .main-menu
    position: absolute
    top: 65px
    right: 15px
    height: auto
    background: $color-white
    padding: 0 20px
    border-radius: 5px
    box-shadow: 1px 8px 12px rgba(0, 0, 0, 0.15)
    visibility: hidden
    opacity: 0
    transition: all 0.2s ease-in-out
    &.is-open
      visibility: visible
      opacity: 1
    ul
      text-align: left
      display: block
      li
        margin: 18px 0
        a
          color: $color-green
          font-size: 16px
  .insta-post
    display: none
  .m-order-first
    order: 1
    margin-bottom: 30px
  .m-order-second
    order: 2
  .about-section-img__bg
    top: 10px
    right: 90px
    width: 500px
  .about-section-img__front img
    width: 300px
  .for-customers__bg
    width: 530px
    top: 0
    left: 100px
  .section-title, .section-text
    margin-left: 0px !important
    margin-right: 0px !important
  .content-box
    &__icon
      margin-bottom: 15px
    &__text h4
      margin-bottom: 15px
  .customers-functions, .bloggers-functions
    &:before, &:after
      display: none
  .for-bloggers__bg
    top: 0px
    right: 135px
    width: 400px
  .col-margin-bottom
    margin-bottom: 30px
  .team-member-photo
    height: 310px
    &__img
      img
        object-position: top center
  .members-row
    margin-bottom: 0px
  .footer__logo
    img
      width: 140px
  .btn-big
    font-size: 16px
  .for-bloggers
    padding-top: 120px
    &:before
      top: 10px
  .bloggers-functions
    margin-top: 60px

@media screen and (max-width: 768px)
  html
    font-size: 12px
  .logo
    width: 50px
    overflow: hidden
    img
      width: 215px
      max-width: inherit
  .select-language
    order: 1
    margin-left: 0
    margin-right: 15px
    &__text-big
      display: none
    &__text-small
      display: inline
  .socials
    order: 2
  .hamburger
    order: 3
  .notebook-top
    width: 280px
    &__data
      top: 45px
      left: -70px
      width: 400px
  .btn-big
    height: 50px
    max-width: 240px
    font-size: 15px
  .section-text
    font-size: 15px
    line-height: 24px
  .section-title
    padding-bottom: 35px
    margin-bottom: 25px
    h2
      margin-top: 5px
  .customers-functions, .bloggers-functions
    margin-top: 20px
  .for-customers__bg
    width: 330px
    top: 10px
    left: 30px
  .for-bloggers__bg
    top: 120px
    right: 50px
    width: 300px
  .content-box__text, .team-member-info__text
    font-size: 14px
    line-height: 21px
  .team-member-info__text
    padding-top: 10px
  .col-margin-bottom
    margin-bottom: 20px
  .content-box
    margin-bottom: 15px
  .about-section-img
    &__front
      left: 10px
      img
        width: 250px
    &__bg
      top: 40px
      right: 10px
      width: 360px
  .customers-functions__bg, .bloggers-functions__bg
    top: 0
    left: -120px
    width: 700px
    height: 100%
    img
      width: 800px
  .form-choice
    flex-flow: column wrap
    &__text
      padding: 0
    &__options
      padding: 20px 0 0
  .footer
    margin-top: 10px
    padding: 40px 0 10px
    &__bottom
      display: none
    &__body
      flex-flow: row wrap
    &__logo
      order: 1
      width: 50%
    &__copyright
      order: 3
      width: 100%
      margin: 25px 0 15px
    &__contacts
      order: 2
      width: 50%
      ul
        li
          a
            font-size: 14px
            color: $color-green
    &__contacts-title
      display: none
