@font-face {
	font-family: 'Helvetica Neue Roman';
	src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: local('Helvetica Neue Medium'), local('Helvetica-Neue-Medium'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
			url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
