.insta-post.insta-post--first
  .insta-post__header
    .insta-post__header-avatar
      img(src="assets/images/content/post-avatar-1.jpg", alt="")
    .insta-post__header-title
      |Yulia
  .insta-post__image
    img(src="assets/images/content/post-image-1.jpg", alt="")
  .insta-post__buttons
    .insta-post__buttons-left
      span
        +icon('like')
      span
        +icon('comments')
      span
        +icon('send')
    .insta-post__buttons-right
      span
        +icon('bookmarks')
  .insta-post__likes
    |435 вподобань
  .insta-post__desk
    |Початок незабутнього дня ☕

.insta-post.insta-post--small.insta-post--second
  .insta-post__image
    img(src="assets/images/content/post-image-2.jpg", alt="")
  .insta-post__buttons
    .insta-post__buttons-left
      span
        +icon('like')
      span
        +icon('comments')
      span
        +icon('send')
    .insta-post__buttons-right
      span
        +icon('bookmarks')
  .insta-post__likes
    |314 вподобань
  .insta-post__desk
    |Ми самі будуємо майбутнє

.insta-post.insta-post--ex-small.insta-post--third
  .insta-post__header
    .insta-post__header-avatar
      img(src="assets/images/content/post-avatar-2.jpg", alt="")
    .insta-post__header-title
      |Roman
  .insta-post__image
    img(src="assets/images/content/post-image-3.jpg", alt="")
  .insta-post__buttons
    .insta-post__buttons-left
      span
        +icon('like')
      span
        +icon('comments')
      span
        +icon('send')
    .insta-post__buttons-right
      span
        +icon('bookmarks')
  .insta-post__likes
    |1230 вподобань
  .insta-post__desk
    |Подорожуємо з донечкою

.insta-post.insta-post--ex-small.insta-post--fourth
  .insta-post__image
    img(src="assets/images/content/post-image-4.jpg", alt="")
  .insta-post__buttons
    .insta-post__buttons-left
      span
        +icon('like')
      span
        +icon('comments')
      span
        +icon('send')
    .insta-post__buttons-right
      span
        +icon('bookmarks')
  .insta-post__likes
    |140 вподобань
  .insta-post__desk
    |В роботі. Які у вас плани?

.insta-post.insta-post--ex-small.insta-post--five
  .insta-post__image
    img(src="assets/images/content/post-image-5.jpg", alt="")
  .insta-post__buttons
    .insta-post__buttons-left
      span
        +icon('like')
      span
        +icon('comments')
      span
        +icon('send')
    .insta-post__buttons-right
      span
        +icon('bookmarks')
  .insta-post__likes
    |285 вподобань
  .insta-post__desk
    |Нові десерти уже в меню 🍰
