extends ../layout/base

append config
	- var pageTitle = 'Blomsy Home';

block content
	include ../layout/header
	section.intro
		.container
			.row
				.col-12
					.intro__text
						h1
							span Ефективний 
							|сервіс для управління кампаніями з лідерами думок
					.intro__button
						a.btn-big(href="#registration") Зареєструватися
					.notebook-top
						img(src="assets/images/icons/notebook.svg", alt="")
						.notebook-top__data
							img(src="assets/images/icons/notebook-data.svg", alt="")
					include ../components/insta-posts.pug
	section(id="about")
		.about
			.container
				.row.vertical-center
					.col-sm-12.col-lg-6.m-order-first
						.section-title
							.section-title__sub
								|Про проект
							h2
								|Чому саме Blomsy
						.section-text
							p
								|Завдяки Blomsy ви можете створювати та заберігати власну базу даних, а кожен член вашої команди планувати та відслідковувати хід кампаній, готувати звітність за допомогою інтерактивного дашборду.
							p
								|До того ж лідери думок отримають власний рейтинг популярності й дізнаються, наскільки вони впливові за рахунок оцінки взаємодії акаунту з аудиторією.
					.col-sm-12.col-lg-6.m-order-second
						.about-section-img
							.about-section-img__bg
								img(src="assets/images/icons/phone-bg.svg", alt="")
							.about-section-img__front
								img(src="assets/images/icons/phone.svg", alt="")
	section(id="for-clients")
		.for-customers
			.container
				.row.vertical-center
					.col-12.col-sm-12.col-lg-6.m-order-second
						.row.for-customers__content
							.col-12.col-sm-6.col-lg-6
								.content-box.content-box--first
									.content-box__icon
										+icon('lock')
									.content-box__text
										h4 Конфіденційність
										| Blomsy розроблений відповідно до GDPR і Privacy Shield, щоб гарантувати збереження приватних даних при обробці.
								.content-box
									.content-box__icon
										+icon('banch')
									.content-box__text
										h4 Бенчмаркінг
										| Порівнюйте дані з кращими практиками категорії, прогнозуйте результати та медіапоказники. Актуально для тендерів та фінальних звітів.
							.col-12.col-sm-6.col-lg-6
								.content-box
									.content-box__icon
										+icon('automation')
									.content-box__text
										h4 Автоматизація рутини
										| Налаштовуйте роботу під себе. Створюйте власну базу даних лідерів думок, зберігайте історію кампаній, отримуйте статус публікацій, погоджуйте лідеров думок разом з клієнтом за допомогою спільного доступу. Здійснюйте безпечні фінансові розрахунки з лідерами думок за допомогою внутрішньої системи платежів.
								.content-box
									.content-box__icon
										+icon('visual')
									.content-box__text
										h4 Візуалізація даних
										| Більше не треба користуватися Excel та Power Point. Формуйте звіти, спираючись на візуальний дашборд сервісу.
						.for-customers__bg
							img(src="assets/images/icons/customers-bg.svg", alt="")
					.col-12.col-sm-12.col-lg-6.m-order-first
						.section-title
							.section-title__sub
								|Клієнтам
							h2
								|Дізнайтеся, як ми покращуємо сервіс Blomsy
						.section-text
							p
								|Автоматизовані фільтри, дорожні мапи з планування, спрощене налаштування кампаній у Instagram — це лише перші кроки. На часі платформи Facebook і YouTube.
							p
								|Blomsy допомагає рекламним агентствам, малому та середньому бізнесу, незалежним social media спеціалістам управляти даними багатьох клієнтів і тримати все в одному місці.
							.section-text__button
								a.btn-big(href="#registration") Зареєструватися
		.customers-functions
			.customers-functions__bg
				img(src="assets/images/icons/customers-fn-bg.svg", alt="")
			.container
				.row
					.col-12
						.section-center-title
							.section-center-title__sub
								| Функції для маркетологів
							h2
								| Чим ми можемо вам допомогти
				.row
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 1
							.fn-item__title
								| Демографічний аналіз профілів лідерів думок
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 2
							.fn-item__title
								| Аналіз показників профілів лідерів думок за показниками залучення та охвату аудиторії
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 3
							.fn-item__title
								| Управління базою лідерів думок у СRM-форматі
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 4
							.fn-item__title
								| Інтегрована аналітика
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 5
							.fn-item__title
								| Візуальний дашборд
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 6
							.fn-item__title
								| Централізовані звіти
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 7
							.fn-item__title
								| Бенчмаркінг
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 8
							.fn-item__title
								| Командні інструменти для спільної роботи
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 9
							.fn-item__title
								| Багаторівнева система доступів
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 10
							.fn-item__title
								| Відстежування прогресу реалізації кампанії
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 12
							.fn-item__title
								| Оновлення даних у режимі реального часу
	section(id="for-bloggers")
		.for-bloggers
			.container
				.row.vertical-center
					.col-sm-12.col-lg-6.m-order-first
						.section-title
							.section-title__sub
								|Блогерам
							h2
								|Підтримуйте кращу видимість бренду або себе
						.section-text
							p
								|Для лідерів думок Blomsy допомагає визначити, наскільки набутий соціальний капітал підписників є впливовим та отримати розширені дані про свою аудиторію.
							p
								|Сервіс надасть інформацію, як створювати топовий контент та порівнювати результати з іншими популярними лідерами думок.
							.section-text__button
								a.btn-big(href="#registration") Зареєструватися
					.col-sm-12.col-lg-6.m-order-second
						.row.for-bloggers__content
							.col-12.col-sm-6.col-lg-6
								.content-box.content-box--first
									.content-box__icon
										+icon('banch2')
									.content-box__text
										h4 Бенчмаркінг
										| Отримуйте щомісяця оновлений рейтинг, дізнавайтеся інформацію про своїх топ-прихильників і порівнюйте результати з іншими лідерами думок.
							.col-12.col-sm-6.col-lg-6
								.content-box
									.content-box__icon
										+icon('finance')
									.content-box__text
										h4 Безплатний і безпечний канал для фінансового заробітку
										| Працюйте з різними брендами та продуктами, що максимально релевантні вашому профілю. Полегшуйте комунікацію з агентствами та sm-спеціалістами, фіксуйте історію взаємовідносин та отримайте гарантовану платню.
						.for-bloggers__bg
							img(src="assets/images/icons/bloggers-bg.svg", alt="")
		.bloggers-functions
			.bloggers-functions__bg
				img(src="assets/images/icons/bloggers-fn-bg.svg", alt="")
			.container
				.row
					.col-12
						.section-center-title
							.section-center-title__sub
								| Функції для блогерів
							h2
								| Створюйте свій досвід легко
				.row
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 1
							.fn-item__title
								| Демографічний аналіз підписників на публікацію
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 2
							.fn-item__title
								| Персоналізований візуальний дашборд
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 3
							.fn-item__title
								| Оновлення даних власного профілю у режимі реального часу
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 4
							.fn-item__title
								| Бенчмаркінг
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 5
							.fn-item__title
								| Контент-планування
	section(id="registration")
		.registration
			.container
				.row
					.col-12
						.section-center-title.section-center-title--no-padding
							.section-center-title__sub
								| Попередня реєстрація
							h2
								| Зареєструйтеся, щоб отримувати новини сервісу та першими протестувати функціонал Blomsy, що вже скоро буде доступний в Україні
			.registration__body
				.registration__lines
					img(src="assets/images/icons/reg-lines.svg", alt="")
				.registration__social
					img(src="assets/images/icons/social.png", alt="")
				.container
					.row
						.col-12
							.registration-form
								.registration-form__panel
									form(action="")
										.row
											.col-12.col-sm-6.col-lg-6
												.form-group
													input.input-text(type="text", name="u_name", placeholder="Ваше ім'я")
											.col-12.col-sm-6.col-lg-6
												.form-group
													input.input-text(type="email", name="u_email", placeholder="Email")
										.row
											.col-12
												.form-choice
													.form-choice__text
														|Хто ви?
													.form-choice__options
														.input-radio-group
															input(type="radio", name="u_role", value="role-smm", id="role-smm" checked)
															label(for="role-smm") Я маркетолог/SMM-спеціаліст
														.input-radio-group
															input(type="radio", name="u_role", value="role-blogger", id="role-blogger")
															label(for="role-blogger") Я лідер думок
										.row
											.col-12
												.form-submit
													input.btn-big.btn-big--submit(type="submit" value="Відправити")
									.registration-complete.hidden
										.registration-complete__icon
											img(src="assets/images/icons/reg-complete.svg", alt="")
										.registration-complete__text
											h4 Дякуємо за реєстрацію!
											span Як тільки сервіс буде запущений - ми повідомимо вас електронною поштою. На зв'язку!

	section.team
		.container
			.row
				.col-12
					.section-title
						.section-title__sub
							|Команда
						h2
							|Ми будуємо ідеальний сервіс для вас
			.row.members-row
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo
						a.team-member-photo__link(href="https://www.linkedin.com/in/igor-kurochka/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/igor-k.jpg", alt="")
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-info
						.team-member-info__name
							| Ігор Курочка
						.team-member-info__pos
							| CEO
						.team-member-info__text
							| Загальний керівник проекту. Ігор є засновником і керівником діючої IT компанії Edicasoft. У минулому має досвід керування командами розробки та участю у стартапах на керівних позиціях. У проекті відповідає за підготовку проектної та фінансової документації, дослідження ринку, аналіз конкурентів, стратегію проекту в цілому.
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo
						a.team-member-photo__link(href="https://www.linkedin.com/in/vkulko/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/vitaliy-k.jpg", alt="")
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-info
						.team-member-info__name
							| Віталій Кулько
						.team-member-info__pos
							| CDO
						.team-member-info__text
							| Разом з Ігорем Курочка з 2010 року реалізував понад 30-ти проектів у сфері діджитал. Понад 10 років займається маркетингом, має багато зв’язків в галузі, що надає багато переваг на стадіях вивчення потреб цільової аудиторії та при виході продуктів на ринок. У проекті відповідає за розвиток продукту та маркетинг.
			.row.members-row
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo
						a.team-member-photo__link(href="https://www.linkedin.com/in/zagran/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/sergey-z.jpg", alt="")
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-info
						.team-member-info__name
							| Загранічний Сергій
						.team-member-info__pos
							| CTO
						.team-member-info__text
							| Працює з Ігорем Курочка з 2012 року. Є головним технічним спеціалістом проекту і відповідає за реалізацію та керування командою програмістів. Сергій має 7 років досвіду в розробці складних інтернет-проектів, обробці великих масивів даних за допомогою алгоритмів машинного аналізу та штучного інтелекту.
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="https://www.linkedin.com/in/daria-mykhailova/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/daria-m.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Дар’я Михайлова
						.team-member-info__pos
							| Lead UX & Frontend Developer
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="https://www.linkedin.com/in/pavel-naumenko-16b92837/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/pavel-n.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Павло Науменко
						.team-member-info__pos
							| Full Stack Developer
			.row.members-row
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="https://www.linkedin.com/in/pavel-grishko/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/pavel-g.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Павло Гришко
						.team-member-info__pos
							| Full Stack Designer
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="https://www.linkedin.com/in/dmitry-gogenko/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/dmytro-g.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Дмитро Гогенко
						.team-member-info__pos
							| Backend Developer
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="#", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/roman-g.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Роман Галичанський
						.team-member-info__pos
							| Data Аnalyst
			.row
				.col-12
					.section-title.section-title--solo
						h2
							|Едвайзери
			.row
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="#", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Олександр Мрук
							.team-member-info__pos
								| Business Development
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="#", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Дмитро Віхров
							.team-member-info__pos
								| Business Development
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="https://www.linkedin.com/in/yana-horbacheva-09904430/", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Яна Горбачoва
							.team-member-info__pos
								| Marketing & PR
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="https://www.linkedin.com/in/olga-mamay-50ba2311/", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Ольга Мамай
							.team-member-info__pos
								| Digital & Media
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="https://www.linkedin.com/in/tetiana-mokrenko-b869076a/", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Тетяна Мокренко
							.team-member-info__pos
								| SMM
	include ../layout/footer
