extends ../layout/base

append config
	- var pageTitle = 'Blomsy Home';

block content
	include ../layout/header-ru
	section.intro
		.container
			.row
				.col-12
					.intro__text
						h1
							span Эффективный 
							|сервис для управления кампаниями с блогерами!
					.intro__button
						a.btn-big(href="#registration") Зарегистрироваться
					.notebook-top
						img(src="assets/images/icons/notebook.svg", alt="")
						.notebook-top__data
							img(src="assets/images/icons/notebook-data.svg", alt="")
					include ../components/insta-posts-ru
	section(id="about")
		.about
			.container
				.row.vertical-center
					.col-sm-12.col-lg-6.m-order-first
						.section-title
							.section-title__sub
								|О проекте
							h2
								|Почему Blomsy
						.section-text
							p
								|С Blomsy вы сможете легко создавать, дополнять и работать с базой данных по блогерам, а каждый член вашей команды — планировать и отслеживать ход кампаний, готовить отчетность при помощи интерактивного дашборда.
							p
								|Для блогеров предусмотрен бесплатный доступ к рейтингу популярности, который даёт представление, насколько они влиятельны за счёт оценки взаимодействия аккаунта и аудитории.
					.col-sm-12.col-lg-6.m-order-second
						.about-section-img
							.about-section-img__bg
								img(src="assets/images/icons/phone-bg.svg", alt="")
							.about-section-img__front
								img(src="assets/images/icons/phone.svg", alt="")
	section(id="for-clients")
		.for-customers
			.container
				.row.vertical-center
					.col-12.col-sm-12.col-lg-6.m-order-second
						.row.for-customers__content
							.col-12.col-sm-6.col-lg-6
								.content-box.content-box--first
									.content-box__icon
										+icon('lock')
									.content-box__text
										h4 Конфиденциальность
										| Blomsy разработан в соответствии с GDPR и Privacy Shield, это гарантирует сохранение личных данных при обработке.
								.content-box
									.content-box__icon
										+icon('banch')
									.content-box__text
										h4 Бенчмаркинг
										| Сравнивайте данные с лучшими практиками категории, прогнозируйте результаты и медиапоказатели. Актуально для тендеров и финальных отчетов.
							.col-12.col-sm-6.col-lg-6
								.content-box
									.content-box__icon
										+icon('automation')
									.content-box__text
										h4 Автоматизация рутины
										| Настраивайте работу под себя. Создавайте доступную только вам базу данных блогеров, сохраняйте историю кампаний, получайте статус публикаций, согласовывайте блогеров вместе с клиентом с помощью функции общего доступа. Совершайте безопасные финансовые расчеты с блогерами с помощью внутренней системы платежей.
								.content-box
									.content-box__icon
										+icon('visual')
									.content-box__text
										h4 Визуализация данных
										| Больше не надо пользоваться Excel и Power Point. Формируйте отчеты, опираясь на визуальный дашборд сервиса.
						.for-customers__bg
							img(src="assets/images/icons/customers-bg.svg", alt="")
					.col-12.col-sm-12.col-lg-6.m-order-first
						.section-title
							.section-title__sub
								|Клиентам
							h2
								|Узнайте, как мы улучшаем сервис Blomsy
						.section-text
							p
								|Автоматизированные фильтры, дорожные карты по планированию, упрощенные настройки кампаний в Instagram — это лишь первые шаги. Совсем скоро можно будет работать с данными Facebook и YouTube блогеров.
							p
								|Blomsy помогает рекламным агентствам, малому и среднему-бизнесу, независимым social media специалистам управлять данными многих клиентов и держать все в одном месте.
							.section-text__button
								a.btn-big(href="#registration") Зарегистрироваться
		.customers-functions
			.customers-functions__bg
				img(src="assets/images/icons/customers-fn-bg.svg", alt="")
			.container
				.row
					.col-12
						.section-center-title
							.section-center-title__sub
								| Функции для маркетологов
							h2
								| Чем мы можем вам помочь
				.row
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 1
							.fn-item__title
								| Демографический анализ профилей блогеров
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 2
							.fn-item__title
								| Анализ профилей блогеров по показателям привлечения и охвата аудитории
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 3
							.fn-item__title
								| Управление базой блогеров в СRM-формате
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 4
							.fn-item__title
								| Интегрированная аналитика
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 5
							.fn-item__title
								| Визуальный дашборд
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 6
							.fn-item__title
								| Централизованные отчеты
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 7
							.fn-item__title
								| Бенчмаркинг
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 8
							.fn-item__title
								| Командные инструменты для совместной работы
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 9
							.fn-item__title
								| Многоуровневая система доступов
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 10
							.fn-item__title
								| Отслеживание прогресса реализации кампании
					.col-6.col-sm-4.col-lg-3
						.fn-item
							.fn-item__icon 12
							.fn-item__title
								| Обновление данных в режиме реального времени
	section(id="for-bloggers")
		.for-bloggers
			.container
				.row.vertical-center
					.col-sm-12.col-lg-6.m-order-first
						.section-title
							.section-title__sub
								|Блогерам
							h2
								|Поддерживайте лучшую видимость бренда или себя
						.section-text
							p
								|Для блогеров Blomsy помогает определить, насколько приобретенный социальный капитал подписчиков является влиятельным и получить расширенные данные о своей аудитории.
							p
								|Сервис предоставит информацию, как создавать топовый контент и сравнивать результаты с другими популярными блогерами.
							.section-text__button
								a.btn-big(href="#registration") Зарегистрироваться
					.col-sm-12.col-lg-6.m-order-second
						.row.for-bloggers__content
							.col-12.col-sm-6.col-lg-6
								.content-box.content-box--first
									.content-box__icon
										+icon('banch2')
									.content-box__text
										h4 Бенчмаркинг
										| Получайте ежемесячно обновленный рейтинг, узнавайте информацию о своих топ-поклонниках и сравнивайте результаты с другими блогерами.
							.col-12.col-sm-6.col-lg-6
								.content-box
									.content-box__icon
										+icon('finance')
									.content-box__text
										h4 Бесплатный и безопасный канал для финансового заработка
										| Регистрируйтесь и получайте бесплатный доступ к возможностям сервиса. Работайте с различными брендами и продуктами, максимально релевантными вашему профилю. Облегчайте коммуникацию с агентствами и sm-специалистами, фиксируйте историю взаимоотношений и получите гарантированную плату.
						.for-bloggers__bg
							img(src="assets/images/icons/bloggers-bg.svg", alt="")
		.bloggers-functions
			.bloggers-functions__bg
				img(src="assets/images/icons/bloggers-fn-bg.svg", alt="")
			.container
				.row
					.col-12
						.section-center-title
							.section-center-title__sub
								| Функции для блоггеров
							h2
								| Создавайте свой опыт легко
				.row
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 1
							.fn-item__title
								| Демографический анализ подписчиков на публикацию
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 2
							.fn-item__title
								| Персонализированный визуальный дашборд
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 3
							.fn-item__title
								| Обновление данных собственного профиля в режиме реального времени
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 4
							.fn-item__title
								| Бенчмаркинг
					.col-6.col-sm-4.col-lg-4
						.fn-item.fn-item--green
							.fn-item__icon 5
							.fn-item__title
								| Контент-планирование
	section(id="registration")
		.registration
			.container
				.row
					.col-12
						.section-center-title.section-center-title--no-padding
							.section-center-title__sub
								| Предварительная регистрация
							h2
								| Зарегистрируйтесь, чтобы получать новости сервиса и первыми протестировать функционал Blomsy, который совсем скоро будет доступен в Украине.
			.registration__body
				.registration__lines
					img(src="assets/images/icons/reg-lines.svg", alt="")
				.registration__social
					img(src="assets/images/icons/social.png", alt="")
				.container
					.row
						.col-12
							.registration-form
								.registration-form__panel
									form(action="")
										.row
											.col-12.col-sm-6.col-lg-6
												.form-group
													input.input-text(type="text", name="u_name", placeholder="Ваше имя")
											.col-12.col-sm-6.col-lg-6
												.form-group
													input.input-text(type="email", name="u_email", placeholder="Email")
										.row
											.col-12
												.form-choice
													.form-choice__text
														|Кто вы?
													.form-choice__options
														.input-radio-group
															input(type="radio", name="u_role", value="role-smm", id="role-smm" checked)
															label(for="role-smm") Я маркетолог/SMM-специалист
														.input-radio-group
															input(type="radio", name="u_role", value="role-blogger", id="role-blogger")
															label(for="role-blogger") Я блогер
										.row
											.col-12
												.form-submit
													input.btn-big.btn-big--submit(type="submit" value="Отправить")
									.registration-complete.hidden
										.registration-complete__icon
											img(src="assets/images/icons/reg-complete.svg", alt="")
										.registration-complete__text
											h4 Спасибо за регистрацию!
											span Как только сервис будет запущен - мы сообщим вам по электронной почте. На связи!

	section.team
		.container
			.row
				.col-12
					.section-title
						.section-title__sub
							| Команда
						h2
							| Мы строим идеальный сервис для вас
			.row.members-row
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo
						a.team-member-photo__link(href="https://www.linkedin.com/in/igor-kurochka/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/igor-k.jpg", alt="")
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-info
						.team-member-info__name
							| Игорь Курочка
						.team-member-info__pos
							| CEO
						.team-member-info__text
							| Основатель проекта. Игорь также является основателем и руководителем действующей IT компании Edicasoft. В прошлом имеет опыт управления командами разработчиков, работал в стартапах на руководящих позициях. В проекте отвечает за подготовку проектной и финансовой документации, исследование рынка, анализ конкурентов, стратегию развития проекта в целом.
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo
						a.team-member-photo__link(href="https://www.linkedin.com/in/vkulko/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/vitaliy-k.jpg", alt="")
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-info
						.team-member-info__name
							| Виталий Кулько
						.team-member-info__pos
							| CDO
						.team-member-info__text
							| Вместе с Игорем Курочка с 2010 г. реализовал более 30-ти проектов в сфере диджитал. Более 10 лет занимается маркетингом, имеет много связей в отрасли предоставляет много преимуществ на стадиях изучения потребностей целевой аудитории и при выходе продуктов на рынок. В проекте отвечает за развитие продукта и маркетинг.
			.row.members-row
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo
						a.team-member-photo__link(href="https://www.linkedin.com/in/zagran/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/sergey-z.jpg", alt="")
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-info
						.team-member-info__name
							| Заграничный Сергей
						.team-member-info__pos
							| CTO
						.team-member-info__text
							| Работает с Игорем Курочка с 2012 года. Является главным техническим специалистом проекта и отвечает за реализацию и управление командой программистов. Сергей имеет 7 лет опыта в разработке сложных интернет-проектов, обработке больших массивов данных с помощью алгоритмов машинного анализа и искусственного интеллекта.
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="https://www.linkedin.com/in/daria-mykhailova/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/daria-m.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Дарья Михайлова
						.team-member-info__pos
							| Lead UX & Frontend Developer
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="https://www.linkedin.com/in/pavel-naumenko-16b92837/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/pavel-n.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Павел Науменко
						.team-member-info__pos
							| Full Stack Developer
			.row.members-row
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="https://www.linkedin.com/in/pavel-grishko/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/pavel-g.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Павел Гришко
						.team-member-info__pos
							| Full Stack Designer
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="https://www.linkedin.com/in/dmitry-gogenko/", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/dmytro-g.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Дмитрий Гогенко
						.team-member-info__pos
							| Backend Developer
				.col-sm-6.col-lg-3.col-margin-bottom
					.team-member-photo.team-member-photo--small
						a.team-member-photo__link(href="#", target="_blank")
						.team-member-photo__img
							img(src="assets/images/team/roman-g.jpg", alt="")
					.team-member-info.team-member-info--small
						.team-member-info__name
							| Роман Галичанский
						.team-member-info__pos
							| Data Аnalyst
			.row
				.col-12
					.section-title.section-title--solo
						h2
							| Едвайзеры
			.row
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="#", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Александр Мрук
							.team-member-info__pos
								| Business Development
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="#", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Дмитрий Вихров
							.team-member-info__pos
								| Business Development
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="https://www.linkedin.com/in/yana-horbacheva-09904430/", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Яна Горбачёва
							.team-member-info__pos
								| Marketing & PR
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="https://www.linkedin.com/in/olga-mamay-50ba2311/", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Ольга Мамай
							.team-member-info__pos
								| Digital & Media
				.col-sm-6.col-lg-4.col-margin-bottom-sm
					.team-member-bottom
						.team-member-linkedin
							a.team-member-linkedin__link(href="https://www.linkedin.com/in/tetiana-mokrenko-b869076a/", target="_blank")
						.team-member-info.team-member-info--small
							.team-member-info__name
								| Татьяна Мокренко
							.team-member-info__pos
								| SMM
	include ../layout/footer-ru
