.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-automation {
	width: 65px;
	height: 66px;
}
.icon-banch {
	width: 53px;
	height: 47px;
}
.icon-banch2 {
	width: 60px;
	height: 41px;
}
.icon-bookmarks {
	width: 17px;
	height: 20px;
}
.icon-comments {
	width: 18px;
	height: 18px;
}
.icon-finance {
	width: 65px;
	height: 60px;
}
.icon-like {
	width: 21px;
	height: 18px;
}
.icon-lock {
	width: 38px;
	height: 51px;
}
.icon-send {
	width: 20px;
	height: 18px;
}
.icon-visual {
	width: 62px;
	height: 45px;
}
