.btn-big
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  max-width: 280px
  height: 60px
  border-radius: 30px
  background-color: $color-dartGreen
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.15)
  font-family: $font-bold
  font-size: 1.1rem
  color: $color-white
  letter-spacing: 0.06em
  cursor: pointer
  transition: all 0.2s ease-in-out
  margin: 0 auto
  &--submit
    max-width: 240px
  &:hover
    background-color: $color-green