.form-group
  margin-bottom: 20px
.form-choice
  display: flex
  margin-top: 12px
  &__text
    font-family: $font-bold
    font-size: 1.2rem
    color: $color-dartGrey
    padding-left: 22px
  &__options
    padding-top: 4px
    padding-left: 40px
.form-submit
  margin-top: 20px

.input-text
  display: flex
  align-items: center
  height: 58px
  width: 100%
  padding: 2px 22px 0
  background-color: $color-white
  border: 2px solid $color-greyInput
  border-radius: 10px
  outline: none
  font-family: $font-regular
  font-size: 1.2rem
  color: $color-dartGreen
  transition: all 0.2s ease-in-out
  +placeholder
    color: $color-greyInput
  &:hover
    border-color: $color-dartGrey
  &:focus
    border-color: $color-yellow
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.10)
  &:invalid
    border-color: $color-red

.input-radio-group
  margin-bottom: 20px
  input
    display: none
    & + label
      position: relative
      padding-left: 40px
      font-family: $font-regular
      font-size: 1.2rem
      color: $color-dartGreen
      cursor: pointer
      &:before
        content: ''
        position: absolute
        top: -6px
        left: 0
        width: 25px
        height: 25px
        border-radius: 50%
        border: 2px solid $color-greyInput
        background-color: $color-white
    &:checked
      & + label
        &:before
          border-color: $color-yellow
        &:after
          content: ''
          position: absolute
          top: 2px
          left: 8px
          width: 9px
          height: 9px
          border-radius: 50%
          background-color: $color-dartGreen

.has-error
  border-color: $color-red
  input
    border-color: $color-red

