.insta-post
  $self: &
  position: absolute
  width: 265px
  background-color: $color-white
  border-radius: 10px
  box-shadow: 2px 16px 15px 0 rgba(0,0,0,0.12)
  color: $color-dartGrey
  overflow: hidden
  &--small
    width: 235px
  &--ex-small
    width: 210px
    #{$self}__image
      height: 165px
    #{$self}__header
      padding: 5px 10px
    #{$self}__header-title
      font-size: 13px
    #{$self}__likes, #{$self}__desk
      font-size: 12px
      padding-left: 10px
      padding-right: 10px
    #{$self}__buttons
      height: 35px
      padding-left: 10px
      padding-right: 10px
      svg
        height: 14px
    #{$self}__buttons-left
      span
        margin-right: 8px
  &--first
    top: 60px
    right: 60px
    z-index: 50
  &--second
    top: 285px
    right: 15px
    z-index: 40
    #{$self}__likes, #{$self}__desk
      font-size: 14px
  &--third
    top: 0px
    left: 15px
    z-index: 30
  &--fourth
    top: 150px
    left: 115px
  &--five
    top: 450px
    left: 40px

  &__header
    display: flex
    align-items: center
    padding: 10px 15px
  &__header-avatar
    width: 28px
    height: 28px
    border-radius: 50%
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__header-title
    font-family: $font-bold
    font-size: 14px
    margin-left: 12px
  &__image
    width: 100%
    height: 218px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__buttons
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 15px
    height: 40px
    line-height: 0
  &__buttons-left
    display: flex
    align-items: center
    justify-content: space-between
    span
      margin-right: 13px
      &:last-child
        margin-right: 0
        padding-top: 2px
  &__likes
    font-family: $font-bold
    font-size: 15px
    padding: 0 15px 8px
    margin-top: -3px
  &__desk
    font-size: 16px
    padding: 0 15px 10px
    