.main-menu
  ul
    display: flex
    align-content: center
    list-style: none
    margin: 0
    padding: 0
    li
      margin-right: 45px
      &:last-child
        margin-right: 0px
      a
        position: relative
        font-family: $font-bold
        color: $color-dartGreen
        font-size: 1.1rem
        &:after
          content: ''
          position: absolute
          bottom: -10px
          left: 0px
          height: 3px
          width: 0px
          background-color: $color-yellow
          transition: all 0.2s ease-in-out
          opacity: 0
        &.is-active, &:hover
          &:after
            width: 50px
            opacity: 1