.section-title
  position: relative
  font-family: $font-bold
  padding-bottom: 45px
  margin-bottom: 35px
  &:before
    content: ''
    position: absolute
    bottom: 10px
    left: 0
    width: 80px
    height: 4px
    background-color: $color-lightGreen
    border-radius: 5px
  &:after
    content: ''
    position: absolute
    bottom: 0
    left: 25px
    width: 70px
    height: 4px
    background-color: $color-yellow
    border-radius: 5px
  &__sub
    font-size: 1.6rem
    color: $color-green
  h2
    font-size: 2.2rem
    color: $color-dartGreen
    margin: 10px 0 0
  &--solo
    h2
      font-size: 1.6rem
      color: $color-green
      margin-top: 20px

.section-center-title
  font-family: $font-bold
  text-align: center
  padding: 60px 0 50px
  &__sub
    font-size: 1.6rem
    color: $color-green
  h2
    font-size: 2.2rem
    color: $color-dartGreen
    margin: 10px 0 0
  &--no-padding
    padding: 0
    h2
      display: block
      max-width: 930px
      margin: 10px auto 0
